doctype
html(lang='en')
  head
    meta(charset='utf-8')
    title Microservice API
  style.
    body{
      font-size: 16px;
      font-family: "Gill Sans", sans-serif;
      margin: auto;
      width: 50%;
      background-color: #cacab0;
    }
    h1{
      font-size: 40px;
    }
    h2{
      font-size: 20px;
    }
  body
    h1 Timestamp microservice 
    p(style = "margin-botom:20px").
      This Timestamp API was created for freecodecamp. Using Node, and Express, and Pug.
    h2 Example usage
    p https://daniel-lawson-timestamp-api.herokuapp.com/December%2015,%202015
    p https://daniel-lawson-timestamp-api.herokuapp.com/1450137600
    h2 Example output
    p { "unix": 1450137600, "natural": "December 15, 2015" }
    p made by #[a(href = "https://codepen.io/Daniel_Lawson9999/full/dVOeBr/" target = "_blank") Daniel Lawson]
